.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-btn {
  background: orange;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  color: white;
}
